[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.6.0"
argcomplete = ">=1.4.1"
fire = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.5"
